body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  z-index: 40;
}

.sidebar-content, .sidebar-pane {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.sidebar-tabs, .ol-control button {
  background-color: rgba(38, 166, 154, 0.5);
}

.sidebar-tabs>ul>li>a:hover, .ol-control button:hover, .sidebar-tabs>ul>li.active {
  background-color: rgb(38, 166, 154);
}

.sidebar-tabs, .sidebar-tabs>ul {
  width: 36px;
}

.sidebar-header {
  margin-bottom: 20px;
}

.btnEye {
  width: 25px;
}

.btnEyeGroup {
  float: right !important;
  margin-right: 0 !important;
}

.btnEyeGroup:hover {
  color: #26a69a;
}

.identify-icon {
  text-transform: lowercase;
  font-style: normal;
  font-weight: 900;
}

.identify-icon:after {
  content: "¡";
}

.customBtnMedicion {
  z-index: 1;
  height: 45px;
}

ul.btnHorizontal {
  right: 50px;
}

ul.btnHorizontal>li {
  margin: 0 !important;
}

@media (max-width: 768px) {
  /*movil*/
  .btn-nav-pane {
    right: 2px !important;
  }
}

@media (min-width: 768px) {
  /*todos?*/
}

@media (min-width: 768px) and (max-width: 991px) {
  /*tablet*/
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*desktop*/
}

#btnP1 {
  position: absolute;
  top: 10px;
  right: 20px;
}

#btnP2 {
  position: absolute;
  top: 60px;
  right: 20px;
}

#btnP3 {
  position: absolute;
  top: 110px;
  right: 20px;
}

#btnP4 {
  position: absolute;
  top: 160px;
  right: 20px;
}

#btnP5 {
  position: absolute;
  top: 210px;
  right: 20px;
}

#btnP6 {
  position: absolute;
  top: 260px;
  right: 20px;
}

#btnP7 {
  position: absolute;
  top: 310px;
  right: 20px;
}

#btnZoomIn {
  position: absolute;
  top: 60px;
  left: 20px;
}

#btnZoomOut {
  position: absolute;
  top: 80px;
  left: 20px;
}

#btnDrawPoint {}

#btnDrawLine {}

#btnDrawPoly {}


/* begin popup */

.ol-popup {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  /* border-radius: 10px; */
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.ol-popup-closer:hover {
  color: rgb(255, 56, 168);
}

.ol-popup-closer:after {
  content: "✖";
}

#popup-content, .ol-popup-content {
  -webkit-user-select: text;
  /* Chrome all / Safari all */
  -moz-user-select: text;
  /* Firefox all */
  -ms-user-select: text;
  /* IE 10+ */
  user-select: text;
  /* Likely future */
}


/* end popup */

#map_zoom_slider {
  left: 66px;
}

.ol-scale-line {
  background-color: rgba(38, 166, 154, 0.5);
}

#legendDiv .esriLegendLayerLabel {
  display: none;
}

#legendDiv td {
  padding: 0;
}

.esriScalebar {
  left: 60px !important;
  bottom: 50px !important;
}

.esriScalebar {
  width: auto;
  height: auto;
  padding: 5px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

#toc-div ul.collection {
  /*Para problemas con Select*/
  overflow: visible;
}

#toc-div ul.collection>li {
  min-height: 60px;
}

#toc-div ul.collection>li p {
  padding: 0;
}

#toc-div li.toc-layer-filters {
  height: 100px;
}

#leyenda ul.collection>li {
  min-height: 60px;
}

#leyenda ul.collection>li.collection-header {
  background-color: rgba(200, 200, 200, 0.1);
  padding: 10px;
  height: 66px;
}

.leyenda-icon {
  border-style: solid;
  border-width: 5px;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -31px;
  margin-right: 8px;
}

.esriPopup .sizer {
  /*width: 250px !important;*/
}

#navpane {
  width: 300px;
  height: -webkit-calc(100% - 36px);
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
  position: absolute;
  right: 100px;
  top: 0;
}

#extentpane {
  width: auto;
  position: absolute;
  left: 60px;
  bottom: 37px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}

.dijitArrowButtonChar {
  display: inline !important;
  font-size: 50%;
}

.esriMeasurementButtonContainer: hover {}

.esriMeasurementButtonContainer>.esriToggleButton {
  border: 1px solid #b1b1b1;
  width: 100%;
  text-align: center;
}

.esriMeasurementButtonContainer>.esriToggleButton>.dijitButtonNode {
  width: auto !important;
}

.dijitPopup.dijitMenuPopup {
  /*background-color: #f00;*/
}

.dijitPopup.dijitMenuPopup>table>tbody>tr {
  height: 24px;
}

.dijitPopup.dijitMenuPopup>table>tbody>tr {
  border: 0.5px solid #333333;
}

.dijitMenuItemLabel {
  left: 5px;
}


/**
 * The zoomslider in the second map shall be placed between the zoom-in and
 * zoom-out buttons.
 * link: https://openlayers.org/en/latest/examples/zoomslider.html
 */

#map .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}

#map .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}

#map .ol-touch .ol-zoomslider {
  top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip], #map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip], #map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}


/**
 * utiliza CSS para reubicar elementos
 */

.sidebar-left~.sidebar-map .ol-zoomslider {
  margin-left: 46px;
}

@media (min-width: 768px) {
  .sidebar-left~.sidebar-map .ol-zoomslider {
    transition: margin-left 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left~.sidebar-map .ol-zoomslider {
    margin-left: 317px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left~.sidebar-map .ol-zoomslider {
    margin-left: 402px;
  }
}

@media (min-width: 1200px) {
  .sidebar-left~.sidebar-map .ol-zoomslider {
    margin-left: 472px;
  }
}

@media (min-width: 768px) {
  .sidebar-left.collapsed~.sidebar-map .ol-zoomslider {
    margin-left: 52px;
  }
}


/*end*/

.item-leyenda-wms-title {}

.item-leyenda-wms-content {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-left: 20px;
}

#resultadosDiv .collapsible-body {
  background-color: rgba(200, 200, 200, 0.1);
}

#resultadosDiv .collapsible-body p {
  padding: 10px;
}

.resultadoIdentificar {
  margin: 10px;
}


/* begin Measure styles */

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #ffcc33;
}


/* end Measure styles */


/* begin general report */

.select_fields ul {
  width: 290% !important;
}


/* end general report */


/* begin powered by */
#poweredby {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: auto;
  height: 50px;
  background-color: transparent;
}

#poweredby img {
  background-size: 100% 100%;
  height: 50px;
}

/* end powered by */

/* begin toast */
#toast-container {
  bottom: auto !important;
  left: auto !important;
  top: 5%;
  right: 7%;
}
/* end toast */
